<h3><%= @article.title %></h3>
<h2><%= @article.content %></h2>
<br>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>

<%= link_to "Go back to articles", articles_path %>
  <br>
<%= link_to "Edit a article?", edit_article_path %>


